*.DS_Store
*.acn
*.aux
*.bcf
*.fls
*.glo
*.glsdefs
*.ist
*.log
*.out
*.run.xml
*.syg
*.synctex.gz
*.toc
*.lol
*.lot
*.lof
*.7z
*.ini
*.wlf
*.qdb
*.qpg
*.qtl
*.synctex(busy)
*.autosave
*.original
*.do
*.tmw
*.mat

**/work
**/slprj
**/hdlsrc
*.acr
*.alg
*.bbl
*.blg
*.glg
*.gls
*.slg
*.syi
