*.DS_Store
*.acn
*.aux
*.bcf
*.fls
*.glo
*.glsdefs
*.ist
*.log
*.out
*.run.xml
*.syg
*.synctex.gz
*.toc
*.lol
*.lot
*.lof
*.7z
*.ini
*.wlf
code/counter_updn/sim/work/_info
*.qdb
*.qpg
*.qtl
code/counter_updn/sim/work/_vmake
Documentation/build/Documentation.synctex(busy)
code/debounce_B/sim/wlft3hct3g
code/debounce_B/sim/work/_info
code/debounce_B/sim/work/_vmake
Documentation_Stop_Watch.docx
code/debounce_B/sim/wlftg75ycj
~$cumentation_Stop_Watch.docx
*.autosave
*.original
*.do
*.tmw
*.mat
Simulink/sl/hdlsrc/pwm_code_gen/pwm_unit_report.html
Simulink/sl/hdlsrc/pwm_code_gen/pwm_unit_map.txt
Simulink/sl/hdlsrc/pwm_code_gen/gm_pwm_code_gen.slx
Simulink/sl/hdlsrc/adder_code_gen/gm_adder_code_gen.slx
Simulink/sl/hdlsrc/adder_code_gen/add_sl_s_report.html
Simulink/sl/hdlsrc/adder_code_gen/add_sl_s_prot_report.html
Simulink/sl/hdlsrc/adder_code_gen/add_sl_s_prot_map.txt
Simulink/sl/hdlsrc/adder_code_gen/add_sl_s_map.txt
